<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lu_rootstudycenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70007B6C294B48D900D80866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7001FA2121DD9724005F752F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70025F782372526400690FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7004FFBF2092A56E00AF7378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7006747C29004C6C006D40F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>700B3B4C29CDEB3F00A03FA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>700C41482022A2660018DB82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70111111214F912C00544FD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7013489D23C2CD4800F7D680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70148071203E8B6E00C9DD4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7015E26B213662C1001A6F3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70169297292E53C20095AC93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7016CCD623B46F1300EDBD14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7019D972299A5C6000E2268D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701AC47425B171E300FE944D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701AD38B23010BFA00C7A911</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701C34BE2450003700E7114A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701C405221E428AF00086DAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701C63BD221E657C00B73749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701D893F2015973300CB31D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701D897A2015ABD100CB31D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701EAEEE21C7228800752308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70250B582087100B00C74B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>702737A928E47F26005BE759</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7029A83325BEB2C4006548BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7029D6A9296C3DA20008406A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>702E6AA71FFB7CAA00048A87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7037451829E6E3720058EDC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70388DD3297810A0008C18F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70389EB62A14CAEF00AAFB29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>703E8C352046949700613255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70476AE12579CED300A8898C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70476B4B2579CF5500A8898C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70476BB52579CF5F00A8898C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7049F8802202A43300A5D53B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7057EE5B27A01A3500357BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705D45212936451F00AE4981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>706348DE29F80C3E00E54530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>706CC519283E5C5000A95755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>706F2B4F26399C1000F1378E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7070F3CA269478FD00A0BB47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707186B52029378A00DD5C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707186F0202949AB00DD5C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7073A7ED25A553E600FB3F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7074823C2147461600AD7496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70758138261DD7E1003DEF45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70763CBA24F74BA300676F97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707CB2CD2297730A00B8C54D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707DA7CA29FAA49900FBA7A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707DC680273565660057F554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707EE43225875A5B00AABA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707FEA7525F70D1800ABF7D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70812D18238B67AD00F58ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7086A23C25CBAFB9009488A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7087CA90278DB42B00D8ED74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70898863258C481F00B4C961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>708988D1258C492200B4C961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>708A462B212E43CD006459A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>708CB75F2A32ECAB008F30FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>709068B224C1682300E7AD8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70906B2C28A3D6AF00F355EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70966B5024A9CEA300AE7AF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70974F6C22324E6300FF6010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>709E49B428328FC600C3C7DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70A99428294752F2003FFE4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AECED227A17B56009249CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B1EB9D28917BED001C6C6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B1EC0F28917C15001C6C6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B26630257751510092E563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B3F637205240F000D0071A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9BBF4244975C5005916E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BD5F1F26DD09FA00F6B3E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BD5F9526DD0A0100F6B3E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BDCEF428916A650062AE11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BEE6B9207C92EC00D9B609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BF77A82150E99100B0621A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70C06F87216ADBDC008F7F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70C5C7BF27317C0900E7D0B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70C6178C292D042100999B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70C8853D2A283CE000286831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CD45A429B0CA0F00A9A748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D0897226E8D234007A1932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D089EC26E8D23F007A1932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D0BA8F292A7739007E2E3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D13C0D246E5295009ABC72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D677E92134D7BF00FC0CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D8323021F7ED4400A958CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D8FD34261EA7C300402E29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D8FDAA261EAA7900402E29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DA0A2D25FB57F700C77CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E1535C2553B6780036227A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E1AE83236FBC4B0066028E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E71F7D23E118E900C10346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E83489293F97F6001711BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E8B14922D5B6720031CD78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70EA1304231F4C2000E76C6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F48F48230FB43F003F0852</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F81FB820DB8A230069DB67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F9CE31230641A50038C817</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F9DDB825A2ACD9009E6664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70FA08EE2587542700DCF778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70FB098429CDD8E40060214D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>740D51FC1EDD3D8A00DE9010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7425BF131F5402410029A905</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7479A4EC1EC2C8AE0032FB3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749597491F9F12D600168E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749F90FB1FA328E200295E08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B00500D22C75E1D300B998BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B01C3B4A2C3691ED00397929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B01F3FF92C09B2B10039832A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B026E1AF2C4DEA1200C2E641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B026E21E2C5A224400C2E641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B027083B2BA19F4100B8D2A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B02FBABD2BFB447F00A55394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B031204D2BFB477300330893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0341B0C2B709F5F00F7C367</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0341B922B70D91A00F7C367</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0341C022B71AE6400F7C367</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B03C27C02CA28355006FA0E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B03C28312CA2852D006FA0E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0531C5B2A5FE89E00460A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B05EB2612A38229500C8F178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B05EEC8C2A4438400088C308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B05EED842A44415F0088C308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0611BE62E1C9BFC009A93BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0742BD32B4D140A00E4326F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B07C814A2C78306A00AE7489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B09141252B1969C2001BA055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B092498D2D5ED2C900C6EC48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B093D6202D6EFB7C00327793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B093D6992D6EFFAD00327793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B09A26732D890168002CC091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B09EDD1D2B82E31700CB8396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0A15EAA2E1F830D00529516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0AA9A032EBDA840006F46AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0B09AF12D066D7B00854F3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0B09B632D0679A300854F3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0BB9B762A8353490046FFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0BE1FDC2AA036D200DB3B1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C658192CB39FC10004340E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C6D4412B145592003E54A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C9EDE72D221E3D00D57F59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C9EE5B2D27C90500D57F59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C9EED22D27CED900D57F59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D03D282EBB08C900943104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D08F332D19070C00DEEF17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D08F9D2D19072D00DEEF17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D2AAB82DDAFC1900EB1584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D2AB2A2DDB04DE00EB1584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D46A062C7DA43400412B76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D90E442E8373920069726D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0DD27392C900DCC00D2E29A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0DEBB322D94DA8000CCC8A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0F3A87C2A37F5E9009D8638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0F97BF32B98330A00A93222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
