<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUILDER_SETTING</key>
	<dict>
		<key>BUILD_DATE</key>
		<string>25-10-01,25-09-10</string>
		<key>HOST_URL</key>
		<string>https://rootstudycenter.lusoft.co.kr/</string>
		<key>IAP_AVAIL</key>
		<false/>
		<key>PUSH_AVAIL</key>
		<true/>
		<key>PUSH_HOST_URL</key>
		<string>http://pushcat.lusoft.co.kr:4001</string>
		<key>SHOW_INTRO_IMAGE</key>
		<false/>
		<key>SHOW_LOADING_IMAGE</key>
		<false/>
		<key>START_URL</key>
		<string>https://rootstudycenter.lusoft.co.kr/main.php?force_agent=app</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>루트스터디</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>lu_rootstudycenter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>lusoft.scheme.toapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lurootstudycenter</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>lusoft.scheme.toapp2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rootstudycenter.lusoft.ios</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>GoogleUtilitiesAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>supertoss</string>
		<string>kb-acp</string>
		<string>liivbank</string>
		<string>newliiv</string>
		<string>kbbank</string>
		<string>nhappcardansimclick</string>
		<string>nhallonepayansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>lottesmartpay</string>
		<string>lotteappcard</string>
		<string>mpocket.online.ansimclick</string>
		<string>ansimclickscard</string>
		<string>tswansimclick</string>
		<string>ansimclickipcollect</string>
		<string>vguardstart</string>
		<string>samsungpay</string>
		<string>scardcertiapp</string>
		<string>shinhan-sr-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>com.wooricard.wcard</string>
		<string>newsmartpib</string>
		<string>citispay</string>
		<string>citicardappkr</string>
		<string>citimobileapp</string>
		<string>cloudpay</string>
		<string>hanawalletmembers</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>shinsegaeeasypayment</string>
		<string>payco</string>
		<string>lpayapp</string>
		<string>ispmobile</string>
		<string>tauthlink</string>
		<string>ktauthexternalcall</string>
		<string>upluscorporation</string>
		<string>kftc-bankpay</string>
		<string>kakaotalk</string>
		<string>wooripay</string>
		<string>lmslpay</string>
		<string>naversearchthirdlogin</string>
		<string>hanaskcardmobileportal</string>
		<string>kb-bankpay</string>
		<string>kakaobank</string>
		<string>tmap</string>
		<string>navermaps</string>
		<string>daummaps</string>
		<string>bankwallet</string>
		<string>itms-apps</string>
		<string>nhappvardansimclick</string>
		<string>kakao1e3bd4f99671a07f2d2dc1bb672c4513</string>
		<string>storykompassauth</string>
		<string>storylink</string>
		<string>kakaotalk-5.9.7</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>LSIAPSchemes</key>
	<array/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>갤러리의 비디오를 작성한 게시글에 첨부하기 위해 라이브러리 접근을 허용합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>프로필 사진을 촬영하여 등록하는 기능과 게시글에 사진을 촬영하여 첨부하기 위해 사진 라이브러리 접근을 허용합니다.</string>
	<key>NSContactsUsageDescription</key>
	<string>주소록 관리 및 비상연락망을 위해 연락처 접근을 허용합니다. 연락처는 서버에 업로드 후 저장되며 외부로 공유되지 않습니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>고객님의 위치정보를 활용하여 '위치 기반 검색 서비스' 제공합니다.
	'위치 기반 검색 서비스'는 고객님의 주변에 있는 매장을 검색할 수 있도록 하는데 활용됩니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>고고객님의 위치정보를 활용하여 '위치 기반 검색 서비스' 제공합니다.
	'위치 기반 검색 서비스'는 고객님의 주변에 있는 매장을 검색할 수 있도록 하는데 활용됩니다.</string>
	<key>NSLocationUsageDescription</key>
	<string>고객님의 위치정보를 활용하여 '위치 기반 검색 서비스' 제공합니다.
	'위치 기반 검색 서비스'는 고객님의 주변에 있는 매장을 검색할 수 있도록 하는데 활용됩니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>고객님의 위치정보를 활용하여 '위치 기반 검색 서비스' 제공합니다.
	'위치 기반 검색 서비스'는 고객님의 주변에 있는 매장을 검색할 수 있도록 하는데 활용됩니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>촬영한 영상을 음성까지 포함하여 게시글에 첨부하기 위해 마이크 권한을 사용합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>촬영을 통해 업로드한 이미지가 갤러리에 저장되기 위한 권한에 사용됩니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>갤러리의 사진이나 사진 또는 동영상을 촬영하여 프로필 사진과 게시글에 첨부하기 위해 라이브러리에 접근하도록 허용합니다.</string>
	<key>SNSLOGIN</key>
	<dict>
		<key>KAKAO</key>
		<dict>
			<key>APPKEY</key>
			<string></string>
			<key>USE</key>
			<false/>
		</dict>
		<key>NAVER</key>
		<dict>
			<key>CLIENDID</key>
			<string></string>
			<key>CLIENTSECRET</key>
			<string></string>
			<key>USE</key>
			<false/>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
