<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TEMP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>lu_calllozeum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>lu_fundi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>lu_megel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>lu_sapjil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>sol_homepage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7403E3B71E5AA89A00D930B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>740D51FC1EDD3D8A00DE9010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>740FA9361DACC68800DD826E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7410012D1E025DDC0096B1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>741DEEDE1E65312000350DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7424CD801E35CF0C00055533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7425BF131F5402410029A905</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>742AEDA61DBA09E60015E137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74360DA91E56EE7F00A746F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>743C54BF1DC9A3E9003920CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>744B87351DB5FDE800E3E4FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>745DB88B1E1DD1F400B9B84A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>746A8D3D1DE81AAB0074130F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74780E6F1DAB284D00506478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74780E8F1DAB315E00506478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7479A4EC1EC2C8AE0032FB3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>747C52BD1E03AA3800759092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>747E29E91DDAEFE500B989E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>747E2B8D1DDC420F00B989E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749629831E5177450079440B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749629B61E517DF30079440B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74971B9F1E4BFA280007BB91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749901681DF7CB8F00353852</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749901B51DFE327200353852</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749901DF1DFE744500353852</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749902401DFE8C0300353852</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74A09A951E9E0856009D6472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74AB397E1DDEBA2E00AA8921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74BF28D31E8E13DF00CF4626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74C0CAD51DEE8A90006EBA49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74C5EF6A1E4DC19900132A1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74D1FBB41E4DB628000055C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74D202BA1D94CFDF00A1847E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74DFE80C1E84D25E00FCDDF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
